nextflow.enable.dsl=2

params.run_gsea  = "yes" //* @dropdown @label:"Run GSEA" @options:"yes","no"  @show_settings:"Prepare_GSEA"
params.input = "" //* @input @file @label:"Input file" @description:"Ranked list of features (ex. output of DESeq2 or LimmaVoom)"
params.genome_build = "" //* @dropdown @label:"Genome Build" @options:"human_hg19_refseq, human_hg38_gencode_v34,human_hg38_gencode_v44,  mouse_mm10_refseq, mouse_mm10_gencode_m25, mousetest_mm10" @description:"GSEA module is currently only compatible with human and mouse genomes."
params.postfix = ' ' //* @input @optional @label:"Postfix (optional)" @description:"String to add before extension in filename. In most cases this input can be left blank."

//* autofill

if ($HOSTNAME == "default"){

    $SINGULARITY_IMAGE = "quay.io/viascientific/gsea_module:1.0.0"
    $DOCKER_IMAGE = "quay.io/viascientific/gsea_module:1.0.0"
}
//* autofill